@{
    Layout = null;
}

<!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>QUOTES!</title>
    </head>
    <body>
        <div>
            <h1>
                SOME RANDOM FIRE QUOTES COMING SOON
            </h1>
            <div>
                <a asp-action="QuotesInput">CLICK TO INPUT QUOTE</a>
            </div>
        </div>
    
    </body>
    </html>