@model IEnumerable<RandomQuotesPage.Models.QuotesModel>
@{ 
    Layout = null;
}

<!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport"content="width=device-width"/>
        <title>Quotes List</title>
    </head>
    <body>
        <h2>
            Here is A list of all the quotes
        </h2>
        <table>
            <thead>
                <tr><th>Quote Author</th><th>Quotes</th></tr>
            </thead>
            <tbody>
                @foreach (RandomQuotesPage.Models.QuotesModel q in Model)
                {
                    <tr>
                        <td>@q.QuoteAuthor</td>
                        <td>@q.Quote</td>

                    </tr>
                }
            </tbody>
        </table>
        Click <a asp-action="QuotesInput">here</a> to enter more quotes.
    </body>
    </html>