@model RandomQuotesPage.Models.QuotesModel

<!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport"content="width=device-width"/>
        <title>THANKS</title>
    </head>
    <body class="text-center">
        <div>
            <h1>
                THANK YOU!
            </h1>
            <div>
                Click <a asp-action="Index">here</a> to return back to the home page.
            </div>
            
        </div>
    </body>
    </html>